@font-face {
  font-family: "iconfont"; /* Project id 1614557 */
  src: url('//at.alicdn.com/t/font_1614557_ppyhdvgpgqp.woff2?t=1641969528956') format('woff2'),
       url('//at.alicdn.com/t/font_1614557_ppyhdvgpgqp.woff?t=1641969528956') format('woff'),
       url('//at.alicdn.com/t/font_1614557_ppyhdvgpgqp.ttf?t=1641969528956') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconwenbengeshi:before {
  content: "\e7e9";
}

.iconpaixu:before {
  content: "\e7e7";
}

.iconyiyezhi:before {
  content: "\e7e8";
}

.iconrijianmoshi:before {
  content: "\e63e";
}

.iconyejianmoshi:before {
  content: "\e63b";
}

.iconyebianju:before {
  content: "\e7e3";
}

.iconpaiban2:before {
  content: "\e7e4";
}

.iconhangju:before {
  content: "\e7e5";
}

.icontianjia2:before {
  content: "\e7e6";
}

.iconshangyi1:before {
  content: "\e60c";
}

.iconxiayi1:before {
  content: "\e60d";
}

.iconshanchu4:before {
  content: "\e635";
}

.icontianjia1:before {
  content: "\e60b";
}

.iconbianji1:before {
  content: "\e7e2";
}

.iconzhibo:before {
  content: "\e7e1";
}

.iconzhibozhong:before {
  content: "\e634";
}

.icontoudi:before {
  content: "\e7e0";
}

.iconshipin:before {
  content: "\e7df";
}

.iconpinglun3:before {
  content: "\e7dc";
}

.icondanmu:before {
  content: "\e7dd";
}

.iconguangbo:before {
  content: "\e7de";
}

.iconadd-circle:before {
  content: "\e678";
}

.iconredu:before {
  content: "\e7da";
}

.iconzhiwei:before {
  content: "\e7db";
}

.iconyouce:before {
  content: "\e7d9";
}

.iconhuanyihuan1:before {
  content: "\e7d4";
}

.iconzhankai:before {
  content: "\e7d5";
}

.iconsuiji:before {
  content: "\e7d6";
}

.iconshouqi:before {
  content: "\e7d7";
}

.iconsousuo1:before {
  content: "\e7d8";
}

.iconyou1:before {
  content: "\e7d2";
}

.iconzuo1:before {
  content: "\e7d3";
}

.iconhuanyihuan:before {
  content: "\e7d1";
}

.iconjinru:before {
  content: "\e7d0";
}

.icondaoshirukou:before {
  content: "\e7cf";
}

.iconjianlifengxian:before {
  content: "\e7cc";
}

.iconjianliliangdian:before {
  content: "\e7cd";
}

.iconjinengguanjianci:before {
  content: "\e7ce";
}

.iconzoom-out1:before {
  content: "\e69e";
}

.iconrefresh:before {
  content: "\e68f";
}

.iconwodedingdan1:before {
  content: "\e7c6";
}

.iconchaojihuiyuan:before {
  content: "\e7c7";
}

.iconwoyaozhaoren:before {
  content: "\e7c8";
}

.iconwentifankui:before {
  content: "\e7c9";
}

.icontuichudenglu:before {
  content: "\e7ca";
}

.iconzhanghaoshezhi1:before {
  content: "\e7cb";
}

.iconxiugaimingcheng:before {
  content: "\e7c3";
}

.iconfuzhijianli:before {
  content: "\e7c2";
}

.iconxiazaijianli:before {
  content: "\e7c4";
}

.iconshanchujianli:before {
  content: "\e7c5";
}

.iconxinjianjianli:before {
  content: "\e7c1";
}

.icondaorujianli:before {
  content: "\e7c0";
}

.icongenghuanjianli:before {
  content: "\e7be";
}

.iconyinsishezhi1:before {
  content: "\e7bf";
}

.icondaoshifudao1:before {
  content: "\e79a";
}

.iconGPAjisuanqi:before {
  content: "\e79b";
}

.iconzhiyeceping:before {
  content: "\e7bc";
}

.iconbeizhanqiuzhao:before {
  content: "\e7bd";
}

.iconxiangshang:before {
  content: "\e7ba";
}

.iconxiangxia:before {
  content: "\e7bb";
}

.iconjiankangyiliao:before {
  content: "\e7b2";
}

.iconsheji:before {
  content: "\e7a7";
}

.iconlvyou:before {
  content: "\e7a9";
}

.iconjiaoyu:before {
  content: "\e7aa";
}

.iconcaigouwuliu:before {
  content: "\e7ab";
}

.iconjinrong:before {
  content: "\e7ac";
}

.iconxiaoshou:before {
  content: "\e7ad";
}

.iconchanpin:before {
  content: "\e7ae";
}

.iconjianzhudichan:before {
  content: "\e7af";
}

.iconjishu:before {
  content: "\e7b0";
}

.iconshengchanzhizao:before {
  content: "\e7b1";
}

.iconrenshihangzheng:before {
  content: "\e7b3";
}

.iconfuwuye:before {
  content: "\e7b4";
}

.iconchuanmei:before {
  content: "\e7b5";
}

.iconzhuanyefuwu:before {
  content: "\e7b6";
}

.iconshichanggongguan:before {
  content: "\e7b7";
}

.iconqiche:before {
  content: "\e7b8";
}

.iconyunying:before {
  content: "\e7b9";
}

.iconzuiba:before {
  content: "\e7a6";
}

.iconmopi:before {
  content: "\e7a1";
}

.iconyanjingfangda:before {
  content: "\e7a2";
}

.iconshoulian:before {
  content: "\e7a3";
}

.iconmeibai:before {
  content: "\e7a4";
}

.iconliangyan:before {
  content: "\e7a5";
}

.iconzuijiapipei:before {
  content: "\e7a0";
}

.icontuozhanzhiwei:before {
  content: "\e79e";
}

.iconxiangguanzhiwei:before {
  content: "\e79f";
}

.iconwanmei:before {
  content: "\e79d";
}

.iconfanhui:before {
  content: "\e79c";
}

.iconhuaban:before {
  content: "\e798";
}

.iconhuabanbeifen:before {
  content: "\e799";
}

.iconmanyi:before {
  content: "\e796";
}

.iconbumanyi:before {
  content: "\e797";
}

.iconqiepianbeifen:before {
  content: "\e794";
}

.iconqiepian:before {
  content: "\e795";
}

.icondingjianjianli:before {
  content: "\e792";
}

.iconbuxianshi:before {
  content: "\e78f";
}

.iconchaojijianli:before {
  content: "\e791";
}

.iconyouxiujianli:before {
  content: "\e793";
}

.iconxiala2:before {
  content: "\e790";
}

.iconyou:before {
  content: "\e78d";
}

.iconzuo:before {
  content: "\e78e";
}

.iconpinglun2:before {
  content: "\e78c";
}

.iconriqi:before {
  content: "\e78b";
}

.iconshijian:before {
  content: "\e789";
}

.iconxueli1:before {
  content: "\e78a";
}

.iconnan:before {
  content: "\e787";
}

.iconnv:before {
  content: "\e788";
}

.iconxinzhi:before {
  content: "\e785";
}

.iconmoren:before {
  content: "\e786";
}

.icontubiao1:before {
  content: "\e781";
}

.iconqingxin:before {
  content: "\e782";
}

.iconzhuanye:before {
  content: "\e783";
}

.icontuchu:before {
  content: "\e784";
}

.iconjuzuo:before {
  content: "\e77e";
}

.icondatouxiang:before {
  content: "\e77f";
}

.iconjuzhong:before {
  content: "\e780";
}

.icontubiao:before {
  content: "\e752";
}

.iconjianjie:before {
  content: "\e775";
}

.iconwenzi:before {
  content: "\e77d";
}

.iconxingbie:before {
  content: "\e745";
}

.iconcv-title-icon-project_experience:before {
  content: "\e774";
}

.iconjibenxinxi1:before {
  content: "\e767";
}

.iconcv-title-icon-honor:before {
  content: "\e769";
}

.iconcv-title-icon-skill_list:before {
  content: "\e76a";
}

.iconcv-title-icon-custom:before {
  content: "\e76b";
}

.iconcv-title-icon-reasearch_experience:before {
  content: "\e76c";
}

.iconcv-title-icon-works:before {
  content: "\e76d";
}

.iconcv-title-icon-extras:before {
  content: "\e76e";
}

.iconcv-title-icon-edus:before {
  content: "\e76f";
}

.iconcv-title-icon-personal_summary:before {
  content: "\e770";
}

.iconshixijingli:before {
  content: "\e771";
}

.iconcv-title-icon-orgs:before {
  content: "\e772";
}

.iconcv-title-icon-opus:before {
  content: "\e773";
}

.iconqiuzhiyixiang:before {
  content: "\e731";
}

.iconxianjuchengshi:before {
  content: "\e732";
}

.icondangqiangongzuozhuangtai:before {
  content: "\e737";
}

.iconjiguan:before {
  content: "\e738";
}

.iconshengao:before {
  content: "\e73c";
}

.iconqiwangxinzi:before {
  content: "\e73d";
}

.iconweixin2:before {
  content: "\e73e";
}

.icontizhong:before {
  content: "\e747";
}

.iconyouxiang2:before {
  content: "\e74a";
}

.iconminzu:before {
  content: "\e757";
}

.icondianhua2:before {
  content: "\e75b";
}

.icongerenwangzhan:before {
  content: "\e75c";
}

.iconnianling:before {
  content: "\e75e";
}

.iconlingying:before {
  content: "\e75f";
}

.iconhunyinzhuangkuang:before {
  content: "\e763";
}

.iconzhengzhimianmao:before {
  content: "\e764";
}

.icongou:before {
  content: "\ecbf";
}

.icontanhao:before {
  content: "\e72e";
}

.iconweizhangwo:before {
  content: "\e726";
}

.icondaniumoban:before {
  content: "\e722";
}

.icondaoshifudao:before {
  content: "\e723";
}

.iconpipeizhiwei:before {
  content: "\e724";
}

.iconfabutiezi:before {
  content: "\e70b";
}

.iconzhiding:before {
  content: "\e6ff";
}

.iconweidianzan1:before {
  content: "\e6a6";
}

.iconfenxiang1:before {
  content: "\e6f1";
}

.iconpinglun1:before {
  content: "\e6f3";
}

.icontiaozhengshunxu:before {
  content: "\e6ba";
}

.iconbaocunbendi1:before {
  content: "\e6e5";
}

.iconxiazaitupian:before {
  content: "\e6cc";
}

.iconhebingzhongyingwen:before {
  content: "\e6dd";
}

.iconxiazaiwenjian:before {
  content: "\e6e3";
}

.iconfile-plus:before {
  content: "\e6a8";
}

.iconbox:before {
  content: "\e6ac";
}

.iconshangla:before {
  content: "\e6a1";
}

.iconzhanghaoshezhi:before {
  content: "\e71b";
}

.iconjibenxinxi:before {
  content: "\e71c";
}

.iconyinsishezhi:before {
  content: "\e720";
}

.iconwodedingdan:before {
  content: "\e721";
}

.iconweixuanzhong:before {
  content: "\e666";
}

.iconxuanzhong:before {
  content: "\e671";
}

.iconshanchu3:before {
  content: "\e69d";
}

.iconwenti1:before {
  content: "\e709";
}

.iconshijianzhou:before {
  content: "\e71a";
}

.icontrash:before {
  content: "\e675";
}

.iconsun:before {
  content: "\e676";
}

.icontrending-up:before {
  content: "\e677";
}

.icontrending-down:before {
  content: "\e679";
}

.icontrello:before {
  content: "\e67b";
}

.iconskip-back:before {
  content: "\e67c";
}

.icontablet:before {
  content: "\e67d";
}

.icontwitter:before {
  content: "\e67e";
}

.iconuser-check:before {
  content: "\e67f";
}

.icontv:before {
  content: "\e680";
}

.iconumbrella:before {
  content: "\e681";
}

.icontype:before {
  content: "\e68a";
}

.icontruck:before {
  content: "\e68c";
}

.iconupload:before {
  content: "\e68d";
}

.iconuser-minus:before {
  content: "\e68e";
}

.iconvolume-:before {
  content: "\e690";
}

.iconwatch:before {
  content: "\e691";
}

.iconvideo-off:before {
  content: "\e692";
}

.iconvolume-1:before {
  content: "\e693";
}

.iconvideo:before {
  content: "\e69c";
}

.iconupload-cloud:before {
  content: "\e69f";
}

.iconuser-plus:before {
  content: "\e6a2";
}

.iconheadphones:before {
  content: "\e6a3";
}

.iconvolume:before {
  content: "\e6a4";
}

.iconzap-off:before {
  content: "\e6a5";
}

.iconzoom-in:before {
  content: "\e6a7";
}

.iconvolume-x:before {
  content: "\e6a9";
}

.iconyoutube:before {
  content: "\e6aa";
}

.iconhome:before {
  content: "\e6ab";
}

.iconzoom-out:before {
  content: "\e6ad";
}

.iconwifi:before {
  content: "\e6ae";
}

.iconzap:before {
  content: "\e6b2";
}

.iconwifi-off:before {
  content: "\e6b3";
}

.iconinfo:before {
  content: "\e6b4";
}

.iconinbox:before {
  content: "\e6bc";
}

.icongitlab:before {
  content: "\e6bd";
}

.iconhash:before {
  content: "\e6be";
}

.iconhard-drive:before {
  content: "\e6bf";
}

.iconmaximize-:before {
  content: "\e6c0";
}

.iconloader:before {
  content: "\e6c1";
}

.iconmic-off:before {
  content: "\e6c4";
}

.iconkey:before {
  content: "\e6c5";
}

.iconglobe:before {
  content: "\e6c8";
}

.iconimage:before {
  content: "\e6c9";
}

.iconmenu:before {
  content: "\e6ca";
}

.iconmap:before {
  content: "\e6cb";
}

.iconheart1:before {
  content: "\e6ce";
}

.iconminimize:before {
  content: "\e6cf";
}

.iconlink-:before {
  content: "\e6d0";
}

.iconlock:before {
  content: "\e6d2";
}

.iconmessage-square:before {
  content: "\e6d5";
}

.iconfast-forward:before {
  content: "\e6d6";
}

.iconlog-in:before {
  content: "\e6d7";
}

.iconminus-square:before {
  content: "\e6d8";
}

.iconinstagram:before {
  content: "\e6d9";
}

.iconmessage-circle:before {
  content: "\e6db";
}

.iconlist:before {
  content: "\e6de";
}

.iconlink:before {
  content: "\e6e0";
}

.iconminus-circle:before {
  content: "\e6e1";
}

.iconfilter:before {
  content: "\e6e2";
}

.iconmaximize:before {
  content: "\e6e4";
}

.iconlayers:before {
  content: "\e6e6";
}

.iconmeh:before {
  content: "\e6e8";
}

.iconfolder:before {
  content: "\e6e9";
}

.iconfolder-minus:before {
  content: "\e6ea";
}

.iconfrown:before {
  content: "\e6eb";
}

.icongit-branch:before {
  content: "\e6ed";
}

.iconmic:before {
  content: "\e6ee";
}

.icongit-pull-request:before {
  content: "\e6ef";
}

.iconhelp-circle:before {
  content: "\e6fc";
}

.iconcloud-off:before {
  content: "\e6fd";
}

.icongithub:before {
  content: "\e6fe";
}

.iconcloud-lightning:before {
  content: "\e700";
}

.iconcode:before {
  content: "\e701";
}

.icongit-commit:before {
  content: "\e702";
}

.iconcloud-rain:before {
  content: "\e708";
}

.iconuser-x:before {
  content: "\e70a";
}

.iconcorner-down-left:before {
  content: "\e70c";
}

.iconcoffee:before {
  content: "\e70d";
}

.iconcloud:before {
  content: "\e70e";
}

.iconflag:before {
  content: "\e70f";
}

.iconcorner-left-up:before {
  content: "\e710";
}

.iconcorner-left-down:before {
  content: "\e711";
}

.iconcorner-down-right:before {
  content: "\e712";
}

.iconcorner-up-left:before {
  content: "\e713";
}

.icongit-merge:before {
  content: "\e714";
}

.icongift:before {
  content: "\e715";
}

.iconcorner-right-down:before {
  content: "\e716";
}

.iconcloud-drizzle:before {
  content: "\e717";
}

.iconcorner-up-right:before {
  content: "\e718";
}

.icondollar-sign:before {
  content: "\e719";
}

.icondelete:before {
  content: "\e71d";
}

.iconedit-11:before {
  content: "\e71e";
}

.iconcorner-right-up:before {
  content: "\e71f";
}

.iconminimize-:before {
  content: "\e725";
}

.iconfacebook:before {
  content: "\e727";
}

.iconchevrons-down:before {
  content: "\e728";
}

.iconchevrons-left:before {
  content: "\e729";
}

.iconchevrons-up:before {
  content: "\e72a";
}

.iconchevrons-right:before {
  content: "\e72b";
}

.iconfolder-plus:before {
  content: "\e72c";
}

.iconchrome:before {
  content: "\e72d";
}

.iconcamera-off:before {
  content: "\e72f";
}

.iconcamera:before {
  content: "\e730";
}

.iconcalendar:before {
  content: "\e733";
}

.iconbookmark:before {
  content: "\e734";
}

.iconbook:before {
  content: "\e735";
}

.iconcheck-square:before {
  content: "\e736";
}

.iconbluetooth:before {
  content: "\e739";
}

.iconbar-chart:before {
  content: "\e73a";
}

.iconbar-chart-:before {
  content: "\e73b";
}

.iconbell-off:before {
  content: "\e73f";
}

.iconarrow-up:before {
  content: "\e740";
}

.iconat-sign:before {
  content: "\e741";
}

.iconarrow-up-right:before {
  content: "\e742";
}

.iconarrow-up-left:before {
  content: "\e743";
}

.iconarrow-right:before {
  content: "\e744";
}

.iconarrow-down:before {
  content: "\e746";
}

.iconarrow-down-right:before {
  content: "\e748";
}

.iconarrow-down-left:before {
  content: "\e749";
}

.iconalign-right:before {
  content: "\e74b";
}

.iconaperture:before {
  content: "\e74c";
}

.iconalign-center:before {
  content: "\e74d";
}

.iconalign-left:before {
  content: "\e74e";
}

.iconactivity:before {
  content: "\e74f";
}

.iconalert-triangle:before {
  content: "\e750";
}

.iconairplay:before {
  content: "\e751";
}

.iconarrow-left:before {
  content: "\e753";
}

.iconalign-justify:before {
  content: "\e754";
}

.iconalert-octagon:before {
  content: "\e755";
}

.iconchevron-up:before {
  content: "\e756";
}

.iconunlock:before {
  content: "\e759";
}

.iconwenti:before {
  content: "\e75a";
}

.iconxiazai19:before {
  content: "\e75d";
}

.iconxueli:before {
  content: "\e602";
}

.iconpinglun:before {
  content: "\e605";
}

.iconyangshi:before {
  content: "\e760";
}

.iconshouji:before {
  content: "\e761";
}

.iconhuiyuan1:before {
  content: "\e762";
}

.iconarrow-up-circle-2:before {
  content: "\e765";
}

.iconarrow-down-circle-2:before {
  content: "\e766";
}

.iconcha:before {
  content: "\e7a8";
}

.iconxiaohui:before {
  content: "\e768";
}

.iconfuzhi2:before {
  content: "\e776";
}

.iconxiazai1:before {
  content: "\e777";
}

.iconyoujian1:before {
  content: "\e778";
}

.icondayin1:before {
  content: "\e779";
}

.iconweixin11:before {
  content: "\e77a";
}

.iconshanchu2:before {
  content: "\e77b";
}

.icondaoshi:before {
  content: "\e77c";
}

.iconminus:before {
  content: "\e60e";
}

.iconstar:before {
  content: "\e60f";
}

.iconmoon:before {
  content: "\e610";
}

.iconheart:before {
  content: "\e611";
}

.iconmusic:before {
  content: "\e612";
}

.iconmonitor:before {
  content: "\e613";
}

.iconmouse-pointer:before {
  content: "\e615";
}

.iconscreen:before {
  content: "\e633";
}

.iconmore-vertical:before {
  content: "\e637";
}

.iconpaperclip:before {
  content: "\e638";
}

.iconphone-call:before {
  content: "\e639";
}

.iconnavigation-:before {
  content: "\e63a";
}

.iconpause-circle:before {
  content: "\e63c";
}

.iconphone-missed:before {
  content: "\e63d";
}

.iconplay:before {
  content: "\e641";
}

.iconpower:before {
  content: "\e642";
}

.iconphone-outgoing:before {
  content: "\e643";
}

.iconphone-incoming:before {
  content: "\e644";
}

.iconpen-tool:before {
  content: "\e647";
}

.iconpie-chart:before {
  content: "\e649";
}

.iconrefresh-ccw:before {
  content: "\e651";
}

.iconphone-forwarded:before {
  content: "\e652";
}

.iconrewind:before {
  content: "\e655";
}

.iconrepeat:before {
  content: "\e658";
}

.iconrss:before {
  content: "\e659";
}

.iconradio:before {
  content: "\e65b";
}

.iconsend:before {
  content: "\e65d";
}

.iconrefresh-cw:before {
  content: "\e660";
}

.iconplay-circle:before {
  content: "\e662";
}

.iconshare:before {
  content: "\e664";
}

.iconsidebar:before {
  content: "\e665";
}

.iconrotate-ccw:before {
  content: "\e668";
}

.iconshare-:before {
  content: "\e669";
}

.iconshopping-bag:before {
  content: "\e66a";
}

.iconshopping-cart:before {
  content: "\e66b";
}

.iconsave:before {
  content: "\e66c";
}

.iconsliders:before {
  content: "\e66e";
}

.iconspeaker:before {
  content: "\e66f";
}

.iconsmile:before {
  content: "\e670";
}

.iconskip-forward:before {
  content: "\e672";
}

.iconstop-circle:before {
  content: "\e673";
}

.iconsmartphone:before {
  content: "\e674";
}

.iconplus-square:before {
  content: "\e62f";
}

.iconplus:before {
  content: "\e632";
}

.iconwancheng:before {
  content: "\e758";
}

.iconwenhao:before {
  content: "\e703";
}

.iconxiayi:before {
  content: "\e69a";
}

.iconshangyi:before {
  content: "\e69b";
}

.iconHelvetica:before {
  content: "\e6f4";
}

.iconfangsong:before {
  content: "\e6f5";
}

.iconsongti:before {
  content: "\e6f6";
}

.iconheiti:before {
  content: "\e6f7";
}

.iconkaiti:before {
  content: "\e6f8";
}

.iconDroidSerif:before {
  content: "\e6f9";
}

.iconweiruanyahei:before {
  content: "\e6fa";
}

.iconArial:before {
  content: "\e6fb";
}

.iconSourceCodePro:before {
  content: "\e704";
}

.iconTimesNewRoman:before {
  content: "\e705";
}

.iconGeorgia:before {
  content: "\e707";
}

.iconlingyingdenglu:before {
  content: "\e697";
}

.iconyouxiangdenglu:before {
  content: "\e698";
}

.iconwendang:before {
  content: "\e706";
}

.icontianjia:before {
  content: "\e696";
}

.iconfuzhi1:before {
  content: "\e687";
}

.iconshanchu1:before {
  content: "\e688";
}

.iconxiazai:before {
  content: "\e682";
}

.iconyoujian:before {
  content: "\e683";
}

.icondayin:before {
  content: "\e685";
}

.iconweixin1:before {
  content: "\e686";
}

.iconhuiyuan:before {
  content: "\e62e";
}

.iconshizhong:before {
  content: "\e618";
}

.iconqizi:before {
  content: "\e619";
}

.iconxiangzi:before {
  content: "\e61a";
}

.iconxindiantu:before {
  content: "\e61b";
}

.iconmianbao:before {
  content: "\e61d";
}

.iconchuzuche:before {
  content: "\e61e";
}

.iconjiangbei:before {
  content: "\e621";
}

.iconzoushi:before {
  content: "\e622";
}

.iconfangzi:before {
  content: "\e623";
}

.icontiandian:before {
  content: "\e624";
}

.icongongjiaoche:before {
  content: "\e625";
}

.iconrili:before {
  content: "\e626";
}

.icondianhua1:before {
  content: "\e627";
}

.iconhudun:before {
  content: "\e628";
}

.iconshu:before {
  content: "\e629";
}

.iconshuben:before {
  content: "\e62a";
}

.iconmifan:before {
  content: "\e62c";
}

.iconlihe:before {
  content: "\e62d";
}

.iconplus-circle:before {
  content: "\e61f";
}

.iconiconfontfenxiang:before {
  content: "\e62b";
}

.iconweixin:before {
  content: "\e601";
}

.iconzanpress:before {
  content: "\e600";
}

.iconfa-weixin:before {
  content: "\ea2e";
}

.iconstar1:before {
  content: "\e63f";
}

.iconlinkedin:before {
  content: "\e66d";
}

.iconbell:before {
  content: "\e6cd";
}

.iconcheck-circle:before {
  content: "\e6d4";
}

.iconmap-pin:before {
  content: "\e689";
}

.iconclock:before {
  content: "\e694";
}

.iconchevron-down:before {
  content: "\e6c3";
}

.icontag:before {
  content: "\e648";
}

.iconaward:before {
  content: "\e6d3";
}

.iconchevron-left:before {
  content: "\e6b7";
}

.iconeye-off:before {
  content: "\e6b6";
}

.iconsettings:before {
  content: "\e646";
}

.iconx-circle:before {
  content: "\e657";
}

.iconcheck:before {
  content: "\e6c7";
}

.iconnavigation:before {
  content: "\e617";
}

.iconphone:before {
  content: "\e620";
}

.iconfile-minus:before {
  content: "\e68b";
}

.iconfile:before {
  content: "\e695";
}

.iconcopy:before {
  content: "\e6a0";
}

.iconlog-out:before {
  content: "\e6af";
}

.icondownload:before {
  content: "\e6b1";
}

.iconedit:before {
  content: "\e6b5";
}

.iconexternal-link:before {
  content: "\e6b9";
}

.iconlock1:before {
  content: "\e6ec";
}

.iconsousuo:before {
  content: "\e6f2";
}

.iconbianji:before {
  content: "\e603";
}

.iconGroup:before {
  content: "\e604";
}

.iconshengji:before {
  content: "\e656";
}

.iconziyuanldpi:before {
  content: "\e614";
}

.iconsimidushezhi1:before {
  content: "\e653";
}

.iconshanchu11:before {
  content: "\e654";
}

.iconfuzhi11:before {
  content: "\e655";
}

.iconvip5:before {
  content: "\e6c2";
}

.iconsimidushezhi:before {
  content: "\e64d";
}

.iconfuzhi:before {
  content: "\e64e";
}

.iconshanchu:before {
  content: "\e64f";
}

.iconfanyi:before {
  content: "\e650";
}

.iconjianligonglvelianjie:before {
  content: "\e64c";
}

.iconcuowu:before {
  content: "\e6f0";
}

.iconchevron-right:before {
  content: "\e6bb";
}

.iconprinter:before {
  content: "\e630";
}

.iconmail:before {
  content: "\e667";
}

.iconmore-horizontal:before {
  content: "\e616";
}

.iconxiala:before {
  content: "\e64b";
}

.iconsearch:before {
  content: "\e636";
}

.iconusers:before {
  content: "\e65a";
}

.iconclipboard:before {
  content: "\e699";
}

.iconfile-text:before {
  content: "\e684";
}

.iconx:before {
  content: "\e663";
}

.iconclose:before {
  content: "\ecc0";
}

.icontrash-:before {
  content: "\e64a";
}

.iconmove:before {
  content: "\e61c";
}

.iconrotate-cw:before {
  content: "\e631";
}

.icongrid:before {
  content: "\e65c";
}

.iconuser:before {
  content: "\e661";
}

.iconedit-:before {
  content: "\e6b0";
}

.iconeye:before {
  content: "\e6b8";
}

.iconbriefcase:before {
  content: "\e6c6";
}

.iconbook-open:before {
  content: "\e6d1";
}

.iconarrow-right-circle:before {
  content: "\e6da";
}

.iconarrow-left-circle:before {
  content: "\e6dc";
}

.iconarrow-down-circle:before {
  content: "\e6df";
}

.iconarrow-up-circle:before {
  content: "\e6e7";
}

